<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table text-center">
      <thead>
        <tr>
          <th>Location</th>
          <th>Space Utilized(GB)</th>
          <th>Space Utilized(%)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usage of usageData">
          <td>{{usage.location}}(DC{{usage.dc}})</td>
          <td>{{usage.disk_usage}}</td>
          <td>{{usage.percentage}}%</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-2"></div>
</div>

<h2>Oldest Builds List</h2>

<table class="table">
  <thead>
    <tr>
      <th>Build Name</th>
      <th>Build Avaliable Till Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let build of oldestBuild">
      <td>{{build.build_name}}</td>
      <td>{{build.build_timestamp | date: 'medium'}}</td>
    </tr>
  </tbody>
</table>